<div class="form-group status">
  <label>{{localize "VISUAL_ACTIVE_EFFECTS.STATUS_ID"}}</label>
  <div class="form-fields">
    <input type="text" name="statuses" value="{{this}}">
    <a data-action="delete-status"><i class="fa-solid fa-trash"></i></a>
  </div>
</div>
