<section id="visual-active-effects" class="panel visual-active-effects">

  {{#each enabledEffects}}
  {{> "modules/visual-active-effects/templates/effect.hbs"}}
  {{/each}}

  {{#if (and passiveEffects.length enabledEffects.length)}}
  <hr>
  {{/if}}

  {{#each passiveEffects}}
  {{> "modules/visual-active-effects/templates/effect.hbs"}}
  {{/each}}

  {{#if (and disabledEffects.length (or enabledEffects.length passiveEffects.length))}}
  <hr>
  {{/if}}

  {{#each disabledEffects}}
  {{> "modules/visual-active-effects/templates/effect.hbs"}}
  {{/each}}

</section>
