body :root {
  --visual-active-effects-icon-size: 50px;
  --visual-active-effects-font-size: 16px;
  --visual-active-effects-max-width: 350px;
  --visual-active-effects-top-offset: 25px;
}

.app.window-app.visual-active-effects.sheet {
  min-width: 450px;
  min-height: 400px;
}

form.visual-active-effects {
  display: grid;
  grid-template-rows: 1fr 0fr;
}

form.visual-active-effects .inputs {
  display: grid;
  grid-template-rows: 0fr 0fr 1fr;
}

form.visual-active-effects .sections {
  position: relative;
}

form.visual-active-effects .sections > .tab {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

form.visual-active-effects .sections > .tab > .editor > .editor-content {
  margin: 0 1em;
}

form.visual-active-effects label {
  white-space: nowrap;
}

section.visual-active-effects {
  position: fixed;
  z-index: 100;
  top: var(--visual-active-effects-top-offset);
  filter: drop-shadow(2px 4px 6px black);
}

section.visual-active-effects .effect-item {
  display: flex;
  justify-content: flex-end;
  height: var(--visual-active-effects-icon-size);
  margin-bottom: calc(var(--visual-active-effects-icon-size)/5);
}

section.visual-active-effects .effect-item .effect-info {
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  min-width: 0;
}

section.visual-active-effects .effect-item:hover .effect-info {
  height: fit-content;
  margin: 0 calc(max(1.5rem, var(--visual-active-effects-icon-size)/5));
  padding: 0 1em 0.5em 1em;
  visibility: visible;
  opacity: 1;
  max-width: var(--visual-active-effects-max-width);
  min-width: var(--visual-active-effects-max-width);
  filter: drop-shadow(0 0 10px black);
  border-radius: 10px;
  background-color: rgb(58, 56, 56);
  transition: visibility 0.15s, opacity 0.15s linear;
}

/* The name of the effect */
section.visual-active-effects .effect-item .effect-info .effect-info-header {
  color: navajowhite;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 2px solid #411a13;
  font-size: 2em;
}

section.visual-active-effects .effect-info-details {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

section.visual-active-effects .effect-item .effect-info .effect-info-details :is(.effect-intro, .collapsible-content, .vae-buttons) {
  color: #ddd;
  padding: 0 0.5rem;
}

section.visual-active-effects .effect-item * {
  font-size: var(--visual-active-effects-font-size);
}

/* COLLAPSIBLES */
section.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible-section .collapsible-header {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #411a13;
  border: 1px solid #000;
  border-radius: 4px 4px 0 0;
  color: #efe6d8;
  font-weight: bold;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible-section .collapsible-header::after {
  content: "\02795";
  float: right;
  margin-left: 0.5rem;
  color: #f7f3e8;
}

section.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible-section.active .collapsible-header::after {
  content: "\2796";
}

section.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible-section .collapsible-content {
  overflow: hidden;
  border: 1px solid #000;
  border-top: none;
  border-radius: 0 0 4px 4px;
  transition: max-height 0.15s ease-out, opacity 0.15s ease-out;
}

section.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible-section:not(.active) .collapsible-content {
  max-height: 0 !important;
  opacity: 0;
}

section.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible-section.active .collapsible-content {
  opacity: 1;
  overflow-y: auto;
}

/* set color of inline roll text */
section.visual-active-effects .effect-item .effect-info .effect-info-details .inline-roll,
section.visual-active-effects .effect-item .effect-info .effect-info-details .content-link {
  color: black;
}

/* TAGS */
section.visual-active-effects .effect-item .effect-info .effect-tags {
  display: grid;
  gap: 3px;
  color: white;
  margin-bottom: 5px;
}

section.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag {
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  letter-spacing: 0.05em;
  padding: 5px 10px;
  text-transform: uppercase;
}

section.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag.temporary {
  background-color: hsl(235, 28.5%, 37.8%);
}

section.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag.disabled {
  background-color: hsl(0, 70%, 28%);
}

section.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag.source {
  background-color: hsl(299deg 46% 29%);
}

/* The separator between enabled and disabled effects */
section.visual-active-effects > hr {
  margin-right: 0;
  width: var(--visual-active-effects-icon-size);
  margin-top: calc(var(--visual-active-effects-icon-size)/5);
  margin-bottom: calc(var(--visual-active-effects-icon-size)/5);
}

/* THE ICON */
section.visual-active-effects .effect-item .effect-icon {
  background-size: contain;
  box-shadow: 0 0 0 1px silver, 0 0 0 2px gray, inset 0 0 4px rgba(0, 0, 0, 0.5);
  height: var(--visual-active-effects-icon-size);
  width: var(--visual-active-effects-icon-size);
  min-width: var(--visual-active-effects-icon-size);
  position: relative;
  transition: transform 0.15s;
}

section.visual-active-effects .effect-item:hover .effect-icon {
  transform: scale(1.2);
  z-index: 100;
}

section.visual-active-effects .effect-item .effect-icon.disabled {
  filter: brightness(0.25) grayscale(1);
}

/* CLOCK BADGE */
section.visual-active-effects .effect-item .effect-icon .badge {
  bottom: 5%;
  color: white;
  display: inline-block;
  left: 5%;
  position: absolute;
  text-shadow: 0 0 5px black;
  font-size: calc(var(--visual-active-effects-icon-size)/3);
  pointer-events: none;
}

section.visual-active-effects .effect-item .effect-icon .badge.unlimited {
  font-size: calc(var(--visual-active-effects-icon-size)/4);
}

section.visual-active-effects .effect-item .effect-icon .badge.expired {
  color: orange;
}

/* BUTTONS */
.vae-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vae-buttons .vae-button {
  font-size: 14px;
  height: 30px;
  line-height: 26px;
  margin: 2px 0;
  background: #6f2f31ad;
  border: 2px groove #9e6161;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  padding: 1px 6px;
}

.vae-buttons .vae-button:hover {
  text-shadow: 0 0 8px white;
  background: brown;
  color: black;
}
