:root {
  --vae-border-color-temporary: rgba(158, 192, 255, 0.705);
  --vae-border-color-passive: rgba(255, 242, 167, 0.664);
  --vae-border-color-disabled: rgba(194, 0, 0, 0.61);
  --vae-dropshadow: drop-shadow(3px 3px 4px rgb(83, 83, 83));
  --vae-backdrop-color: rgb(49, 49, 49);
  --vae-button-color-font: rgba(255, 255, 255, 0.664);
  --vae-button-color-backdrop: rgb(100, 100, 100);
  --vae-name-color: rgb(255, 255, 255);
  --vae-name-border: 1px dashed rgba(133, 133, 133, 0.582);
  --vae-name-font: 'Amiri';
  --vae-tag-border: 1px solid rgb(197, 197, 197);
  --vae-tag-color-duration: rgba(100, 100, 255, 0.5);
  --vae-tag-color-disabled: rgba(255, 100, 100, 0.5);
  --vae-tag-color-source: rgba(255, 100, 255, 0.5);
}

/* ------------------------- */
/*                           */
/*        EFFECTS PANEL      */
/*                           */
/* ------------------------- */
.visual-active-effects.panel {
  position: fixed;
  z-index: 100;
  top: var(--visual-active-effects-top-offset);
  filter: var(--vae-dropshadow);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(var(--visual-active-effects-icon-size)/5);
  overflow: visible;
  max-height: calc(100% - 50px);

  .effect-item {
    display: flex;
    justify-content: flex-end;
    height: var(--visual-active-effects-icon-size);
    max-width: var(--visual-active-effects-icon-size);

    &:hover {
      max-width: unset;

      .effect-info {
        height: fit-content;
        margin: 0 calc(max(1.5rem, var(--visual-active-effects-icon-size)/5)) 0 0;
        padding: 8px;
        visibility: visible;
        opacity: 1;
        max-width: var(--visual-active-effects-max-width);
        min-width: var(--visual-active-effects-max-width);
      }

      .effect-icon {
        transform: scale(1.2);
        z-index: 100;
      }
    }

    .effect-info {
      visibility: hidden;
      opacity: 0;
      max-width: 0;
      min-width: 0;
      filter: var(--vae-dropshadow);
      background-color: var(--vae-backdrop-color);
      transition: opacity 0.15s linear;
      border-left: 10px solid;
      border-radius: 2px;
      overflow: hidden auto;

      &.temporary {
        border-color: var(--vae-border-color-temporary);
      }
      &.passive {
        border-color: var(--vae-border-color-passive);
      }
      &.disabled {
        border-color: var(--vae-border-color-disabled);
      }

      .effect-info-header {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          border-bottom: var(--vae-name-border);
        }

        &:last-child {
          border: none;
        }

        .name {
          color: var(--vae-name-color);
          text-align: center;
          padding: 0 4px;
          margin: 0;
          font-size: 1.6rem;
          font-family: var(--vae-name-font);
          text-transform: uppercase;
        }
      }

      &.simple .effect-tags {
        margin-bottom: 0;
      }
    }

    .effect-icon {
      background-size: contain;
      box-shadow: 0 0 0 1px silver, 0 0 0 2px gray, inset 0 0 4px rgba(0, 0, 0, 0.5);
      height: var(--visual-active-effects-icon-size);
      width: var(--visual-active-effects-icon-size);
      min-width: var(--visual-active-effects-icon-size);
      position: relative;
      transition: transform 0.15s;

      &.disabled {
        filter: brightness(0.25) grayscale(1);
      }

      .badge {
        bottom: 5%;
        color: white;
        display: inline-block;
        left: 5%;
        position: absolute;
        text-shadow: 0 0 5px black;
        font-size: calc(var(--visual-active-effects-icon-size)/3);
        pointer-events: none;

        &.unlimited {
          font-size: calc(var(--visual-active-effects-icon-size)/4);
        }
        &.expired {
          color: orange;
        }
      }
    }
  }

  .effect-info-details {
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    overflow: hidden;

    .inline-roll, .content-link {
      color: black;
    }
  }

  .effect-intro {
    color: rgb(192, 192, 192);
    padding: 0 0.5rem;
    font-style: italic;
    font-family: sans-serif;
    overflow: hidden auto;
    font-size: var(--visual-active-effects-font-size);
  }

  .effect-tags {
    display: flex;
    gap: 3px;
    color: white;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    .effect-tag {
      border-radius: 4px;
      padding: 5px;
      text-transform: uppercase;
      position: relative;
      white-space: nowrap;
      font-size: 11px;

      &::after {
        content: "";
        position: absolute;
        inset: 1px;
        border-radius: 2px;
        border: var(--vae-tag-border);
      }

      &.temporary {
        background-color: var(--vae-tag-color-duration);
      }
      &.disabled {
        background-color: var(--vae-tag-color-disabled);
      }
      &.source {
        background-color: var(--vae-tag-color-source);
      }
    }
  }

  & hr.divider {
    margin-right: 0;
    width: var(--visual-active-effects-icon-size);
  }

  /* Hide some dividers */
  & hr.divider:first-child,
  & hr.divider:not(:has(+ .effect-item)) {
    display: none;
  }


  .vae-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    .vae-button {
      z-index: 1;
      background-color: var(--vae-button-color-backdrop);
      color: var(--vae-button-color-font);
      font-family: 'Modesto Condensed';
      font-size: 20px;
      transition: box-shadow 150ms;

      &:hover {
        box-shadow: 0 0 5px white;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}
