:root {
  --vae-border-color-temporary: rgba(158, 192, 255, 0.705);
  --vae-border-color-passive: rgba(255, 242, 167, 0.664);
  --vae-border-color-disabled: rgba(194, 0, 0, 0.61);
  --vae-dropshadow: drop-shadow(3px 3px 4px rgb(83, 83, 83));
  --vae-backdrop-color: rgb(49, 49, 49);
  --vae-button-color-font: rgba(255, 255, 255, 0.664);
  --vae-button-color-backdrop: rgb(100, 100, 100);
  --vae-name-color: rgb(255, 255, 255);
  --vae-name-border: 1px dashed rgba(133, 133, 133, 0.582);
  --vae-name-font: 'Amiri';
  --vae-tag-border: 1px solid rgb(197, 197, 197);
  --vae-tag-color-duration: rgba(100, 100, 255, 0.5);
  --vae-tag-color-disabled: rgba(255, 100, 100, 0.5);
  --vae-tag-color-source: rgba(255, 100, 255, 0.5);
}

/* ------------------------- */
/*                           */
/*        EFFECTS PANEL      */
/*                           */
/* ------------------------- */
#interface:has(#sidebar-content.expanded) .visual-active-effects.panel {
  right: calc(50px + 16px + 300px); /* hard coded because the variables are in the #sidebar element */
}
.visual-active-effects.panel {
  z-index: 100;
  filter: var(--vae-dropshadow);
  gap: calc(var(--visual-active-effects-icon-size) / 5);
  position: absolute;
  top: var(--visual-active-effects-top-offset);
  right: calc(50px + 16px);
  transition: right 250ms ease;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;

  .effect-item {
    anchor-name: var(--vae-effect-item-anchor);

    &:hover {
       .effect-info {
        visibility: visible;
        pointer-events: unset;
      }

      .effect-icon {
        transform: scale(1.2);
      }
    }

    .effect-info {
      pointer-events: none;
      position: fixed;
      position-anchor: var(--vae-effect-item-anchor);
      position-area: left center;
      visibility: hidden;
      max-width: var(--visual-active-effects-max-width);
      min-width: var(--visual-active-effects-max-width);
      filter: var(--vae-dropshadow);
      background-color: var(--vae-backdrop-color);
      border-left: 10px solid;
      border-radius: 2px;
      overflow: hidden auto;
      z-index: 1;
      padding: 8px;
      transition: visiblity 100ms ease;
      /* right: .5rem; */

      &.temporary {
        border-color: var(--vae-border-color-temporary);
      }
      &.passive {
        border-color: var(--vae-border-color-passive);
      }
      &.inactive {
        border-color: var(--vae-border-color-disabled);
      }

      .effect-info-header {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          border-bottom: var(--vae-name-border);
        }

        &:last-child {
          border: none;
        }

        .name {
          color: var(--vae-name-color);
          text-align: center;
          margin: .5rem;
          font-size: 1.2rem;
          font-family: var(--vae-name-font);
          text-transform: uppercase;
        }
      }

      &.simple .effect-tags {
        margin-bottom: 0;
      }
    }

    .effect-icon {
      background-size: contain;
      box-shadow: 0 0 0 1px silver;
      position: relative;
      transition: transform 0.15s;

      &.inactive {
        filter: brightness(0.25) grayscale(1);
      }

      .effect-icon-img {
        width: var(--visual-active-effects-icon-size);
        height: var(--visual-active-effects-icon-size);
        background-size: inherit;
        background-blend-mode: multiply; /* For tinting */
        mask-size: contain; /* For svgs to fit */
      }

      .badge {
        bottom: 5%;
        color: white;
        display: inline-block;
        left: 5%;
        position: absolute;
        text-shadow: 0 0 5px black;
        font-size: calc(var(--visual-active-effects-icon-size) / 3);
        pointer-events: none;

        &.unlimited {
          font-size: calc(var(--visual-active-effects-icon-size) / 4);
        }
        &.expired {
          color: orange;
        }
      }
    }
  }

  .effect-info-details {
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    overflow: hidden;

    .inline-roll, .content-link {
      color: black;
    }
  }

  .effect-intro {
    color: rgb(192, 192, 192);
    padding: 0 0.5rem;
    font-style: italic;
    font-family: sans-serif;
    overflow: hidden auto;
    font-size: var(--visual-active-effects-font-size);
  }

  .effect-tags {
    display: flex;
    gap: 3px;
    color: rgb(230, 230, 230);
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .5rem;

    .effect-tag {
      border-radius: 5px;
      padding: .5rem;
      position: relative;
      white-space: nowrap;
      font-size: .75rem;
      font-family: Georgia, 'Times New Roman', Times, serif;

      &::after {
        content: "";
        position: absolute;
        inset: 1px;
        border-radius: 2px;
        border: var(--vae-tag-border);
      }

      &.temporary {
        background-color: var(--vae-tag-color-duration);
      }
      &.disabled {
        background-color: var(--vae-tag-color-disabled);
      }
      &.source {
        background-color: var(--vae-tag-color-source);
      }
    }
  }

  & hr.divider {
    margin: .25em 0;
    width: var(--visual-active-effects-icon-size);
    display: none;
  }
  .effect-item + hr.divider:has( ~ .effect-item) {
    display: block;
  }

  .vae-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    .vae-button {
      z-index: 1;
      background-color: var(--vae-button-color-backdrop);
      color: var(--vae-button-color-font);
      font-family: 'Modesto Condensed';
      font-size: 20px;
      transition: box-shadow 150ms;

      &:hover {
        box-shadow: 0 0 5px white;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}
