body :root {
  --visual-active-effects-icon-size: 50px;
  --visual-active-effects-font-size: 16px;
  --visual-active-effects-max-width: 350px;
}

form.visual-active-effects {
  display: grid;
  grid-template-rows: 0fr 1fr 2fr;
}

form.visual-active-effects label {
  white-space: nowrap;
}

form.visual-active-effects .editor {
  height: 90%;
}

section.visual-active-effects {
  position: fixed;
  z-index: 50;
  top: 25px;
  filter: drop-shadow(2px 4px 6px black);
}

.visual-active-effects .effect-item {
  display: flex;
  justify-content: flex-end;
  height: var(--visual-active-effects-icon-size);
  margin-bottom: calc(var(--visual-active-effects-icon-size)/5);
}

.visual-active-effects .effect-item .effect-info {
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  min-width: 0;
}

.visual-active-effects .effect-item:hover .effect-info {
  height: fit-content;
  margin: 0 calc(max(1.5rem, var(--visual-active-effects-icon-size)/5));
  padding: 0 1em 0.5em 1em;
  visibility: visible;
  opacity: 1;
  max-width: var(--visual-active-effects-max-width);
  min-width: var(--visual-active-effects-max-width);
  filter: drop-shadow(0 0 10px black);
  border-radius: 10px;
  background-color: rgb(58, 56, 56);
  transition: visibility 0.15s, opacity 0.15s linear;
}

/* The name of the effect */
.visual-active-effects .effect-item .effect-info .effect-info-header {
  color: navajowhite;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 2px solid #411a13;
  font-size: 2em;
}

.visual-active-effects .effect-item .effect-info .effect-info-details .effect-intro,
.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible .collapsible-content {
  color: #ddd;
  padding: 0 0.5rem;
}

.visual-active-effects .effect-item * {
  font-size: var(--visual-active-effects-font-size);
}

/* COLLAPSIBLES */
.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible {
  width: 100%;
  margin: 1rem 0;
}

.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible .collapsible-header {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #411a13;
  border: 1px solid #000;
  border-radius: 4px 4px 0 0;
  color: #efe6d8;
  font-weight: bold;
  margin-bottom: 0;
}

.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible .collapsible-header::after {
  content: "\02795";
  float: right;
  margin-left: 0.5rem;
  color: #f7f3e8;
}

.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible.active .collapsible-header::after {
  content: "\2796";
}

.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible .collapsible-content {
  overflow: hidden;
  border: 1px solid #000;
  border-top: none;
  border-radius: 0 0 4px 4px;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
}

.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible:not(.active) .collapsible-content {
  max-height: 0 !important;
  opacity: 0;
}

.visual-active-effects .effect-item .effect-info .effect-info-details .collapsible.active .collapsible-content {
  opacity: 1;
  overflow-y: auto;
}

/* set color of inline roll text */
.visual-active-effects .effect-item .effect-info .effect-info-details .inline-roll,
.visual-active-effects .effect-item .effect-info .effect-info-details .content-link {
  color: black;
}

/* TAGS */
.visual-active-effects .effect-item .effect-info .effect-tags {
  display: grid;
  gap: 3px;
  color: white;
  margin-bottom: 5px;
}

.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag {
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  letter-spacing: 0.05em;
  padding: 5px 10px;
  text-transform: uppercase;
}

.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag.temporary {
  background-color: hsl(235, 28.5%, 37.8%);
}

.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag.disabled {
  background-color: hsl(0, 70%, 28%);
}

.visual-active-effects .effect-item .effect-info .effect-tags .effect-tag.source {
  background-color: hsl(299deg 46% 29%);
}

/* The separator between enabled and disabled effects */
.visual-active-effects>hr {
  margin-right: 0;
  width: var(--visual-active-effects-icon-size);
  margin-top: calc(var(--visual-active-effects-icon-size)/5);
  margin-bottom: calc(var(--visual-active-effects-icon-size)/5);
}

/* THE ICON */
.visual-active-effects .effect-item .effect-icon {
  background-size: contain;
  box-shadow: 0 0 0 1px silver, 0 0 0 2px gray, inset 0 0 4px rgba(0, 0, 0, 0.5);
  height: var(--visual-active-effects-icon-size);
  width: var(--visual-active-effects-icon-size);
  position: relative;
  transition: transform 0.3s;
}

.visual-active-effects .effect-item:hover .effect-icon {
  transform: scale(1.2);
  z-index: 100;
}

.visual-active-effects .effect-item .effect-icon.disabled {
  filter: grayscale(1.0);
  filter: brightness(0.25);
}

/* CLOCK BADGE */
.visual-active-effects .effect-item .effect-icon .badge {
  bottom: 5%;
  color: white;
  display: inline-block;
  left: 5%;
  position: absolute;
  text-shadow: 0 0 5px black;
  font-size: calc(var(--visual-active-effects-icon-size)/3);
}

.visual-active-effects .effect-item .effect-icon .badge.unlimited {
  font-size: calc(var(--visual-active-effects-icon-size)/4);
}

.visual-active-effects .effect-item .effect-icon .badge.expired {
  color: orange;
}
